

  body {
        margin: 0px;
        padding: 0px;
    }

    .transition {
        transition: all .2s;
        -o-transition: all .2s;
        -moz-transition: all .2s;
        -webkit-transition: all .2s;
    }

    #all-wrapper {
        width: 100%;
    }

    #main-container {
        max-width: 990px;
        margin: auto;
        position: relative;
        min-height: 550px;
        border-bottom: 1px solid #111;
    }

header {


}
